@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

@font-face {
    font-family: 'Roboto', sans-serif;
}

div {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header
{
    font-family: 'Roboto', sans-serif;
    color:#757575;
}

a
{
    color: #fc6721;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.navbar 
{
  background-color: #fff;
  border-color: #212121;
}

.navbar-brand 
{
  color: #212121!important;
}

.nav.navbar-nav.navbar-right li a {
    color: #212121 !important;
}

.nav.navbar-nav li a{
    color: #212121 !important;
}

.navbar-nav li a:hover, .navbar-nav > .active > a 
{
  color: #212121 !important;
  background-color: #fc6721 !important;
  background-image: none !important;
}

.section.sidebar 
{
  background-color: white;
}

